.lang2 {
    display: flex;
    align-items: center;
    border: 1px solid #888;
    width: auto;
    background-clip: padding-box;
    border: 0 solid transparent;
    cursor: pointer;
    padding: 6px;
    background-color: black;
    color: white;
    row-gap: 0.5px;
    border-color: white;
}

.lang-letter {
    color: white;
    background-color: black;
}

#lang2 {
    background-color: black;
    color: white;
}

#lang1 {
    background-color: black;
    color: #737373;
    align-items: center;
    padding: 10px;
}

.lang1 {
    margin-top: 20px;
    line-height: 1.7;
    align-items: center;
}