.movie-page {
    background-color: #181818;
}

.page>div:not(:first-child) {
    margin-bottom: 20px;
}

.movie-details-container {
    height: calc(100vh - 49px);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: 60px;
}

.movie-details {
    display: block;
    max-width: 500px;
}

.desc {
    margin-top: 15px;
    margin-bottom: 15px;
}

.watch-des {
    margin-top: 10px;
}

.movie-year,
.movie-rating,
.movie-duration,
.movie-genre {
    font-size: smaller;
}

.movie-rating {
    border: 1px solid white;
    padding: 2px;
}