.movie-details-container {
    height:calc(100vh - 24px);
    display: flex;
    padding-left: 30px;
    align-items: center; 
}

.movie-details {
    display: block;
    max-width: 500px;
}

.desc {
    margin-top: 15px;
    margin-bottom: 15px;
}
.watch-des {
    margin-top: 10px;
}

.movie-year, .movie-rating, .movie-duration, .movie-genre {
    font-size: smaller;
}

.movie-rating{
    border: 1px solid black;
    padding: 2px;
}