.images-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
}

.images-container > div{
    width: calc(97% / 4)
}

@media (max-width: 992px){
    .images-container >div{
        width: calc(97% / 3)
    }
}

@media (max-width: 767px){
    .images-container >div{
        width: 97%;
    }
}