.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    gap: 15px;
}

.input-button button {
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
}

@media (max-width : 767px) {
    .input-button {
        flex-direction: column;
    }

    .input-button button {
        display: block;
        width: fit-content;
        margin: auto;
    }
}