.more-details-container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
}

.smaller {
    font-size: smaller; 
}

.section {
    width: 340px;
}

.section p {
    text-align: left;
}


.cast {
    display: flex;
    flex-wrap: wrap;
}

.cast p {
    width: 25%; /* Two items per row */ 
}

@media (max-width : 767px){
    .content {
        flex-direction: row;
    }
}