.description-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #181818;
}

.movie-title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}

.description-text p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #a3a3a3;
    width:80%;
}