*{
    padding: 0;
    margin: 0;
    border: 0;
}

.nav-1-right > button{
    padding: 9px 20px;
}

.red{
    color: #f40612;
}
.red-background{
    background-color: #f40612;
}

.black-background{
    background-color: #000;
    border: 1px solid #888;
}

.txt-13{
    font-size: 13px;
    font-weight: 400;
}

.white{
    color: #fff;
}

.nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    background-color: #000;
    padding: 16px 3% 16px 2%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    
}

.netflix{
    width: 140px;
    height: 40px;
    line-height: 90px;
}

.nav-1-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width: 992px){
    .unlimited{
        display: none;
    }
}


