.coming-soon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #181818;
    gap:10px;
}

.coming-soon-container > div{
    width : calc(97% / 4);
}

@media (max-width: 992px){
    .coming-soon-container >div{
        width: calc(97% / 3)
    }
}

@media (max-width: 767px){
    .coming-soon-container >div{
        width: 97%;
    }
}