.images-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.images-container>div {
    width: calc(97% / 4)
}

@media (max-width: 1440px) {
    .images-container>div {
        width: calc(97% / 3)
    }
}

@media (max-width: 1023px) {
    .images-container>div {
        width: calc(94%/2);
    }
}