* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #181818;

}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  padding-left: 65px;
  padding-right: 65px;
  margin: auto;
}

@media (max-width:767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1 {
  font-weight: bold;
  font-size: 48px;
  width: fit-content;
  margin: auto;
}




p {
  line-height: 1.7;
  font-size: 17px;
}

button {
  cursor: pointer;
  border: none;
}